<!DOCTYPE html>
<html lang="EN">
  <head>
    <title>What's for dinner?</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="<%= url('/styles.css') %>" type="text/css" >
  </head>

  <body>
    <div class="navbar">
      
      <a href="/">
        What's for dinner?
      </a>
      <a href="https://github.com/thierrychau/sinatra-restaurants">
        Github Repo
      </a>
    
    </div>

    <%= yield %>
  </body>
</html>
